[Unit]
Description=Air Quality Monitoring Service

[Service]
Restart=always
RestartSec=5s
WorkingDirectory=/
ExecStart=/usr/bin/env /home/debian/AirQualityMonitor/runner.py

[Install]
WantedBy=multi-user.target
